<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reader Homepage</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="container">
      <h1 id="blog-title"><%= blog.blog_title %></h1>
      <h2><%= blog.author_name %></h2>

      <!-- List of articles -->
      <% articles.forEach(article => { %>
      <div class="article">
        <h3><%= article.article_subtitle %></h3>
        <p>Date Published: <%= article.date_published %></p>
        <a href="/articles/<%= article.article_id %>" class="read-more-button"
          >Read More</a
        >
      </div>
      <% }); %>
    </div>
    <!-- Apply the new class for the Author Login button -->
    <div class="button-container">
      <a href="/authors/login" class="button author-login-button"
        >Author Login</a
      >
    </div>
  </body>
</html>
